.container {
  width: 90%;
  max-width: 850px;
  margin: auto;
  padding: 20px;
}

h2 {
  margin-top: 30px;
}

.draft-list {
  display: grid;
  gap: 15px;
}

button {
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  opacity: .9;
}